
/* element */
body{
  background: #D1C7CF;
  background-size: 100% 100%;
 
}
/* id */
#my_f_name{
    color:rgb(44, 198, 44);
    text-align: left;
}

/* id */
#my_bio{
    color:gray;
    text-align: left;
}


/* class */
.my_name{
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: center;
}


.box_1{
    background-repeat: no-repeat;
    flex:25;
    padding-bottom: 0px;
   
}

.marg_1{
    margin-bottom: 0px;
}

.image_1{
    background: url(../images/chad.jpg);
    width: 300px;
    height: 300px;
    border-radius: 300px; 
    background-repeat: no-repeat;
    display: block;
    border: 5px solid #143642;
    background-size: 300px 300px;
}

.box_2{
    margin-left: 35px;
    flex:60;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}

.box_3{
    margin-left: 35px;
    flex:15;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
}


.g_hub{
    background: url(../images/g_hub.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
}
 
.l_in{
    background: url(../images/l_in.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
}

.no_margin {
    line-height: 0;
}

.no_margin1 {
    padding: 0px;
}

.div_ex{
    padding-bottom: 25px;
}

.div_ex1{
    padding-bottom: 10px;
}

.my_inf{
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: center;
    
}

.box_4{
    flex:25;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}

.box_5{
    margin-left: 35px;
    flex:75;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}

.l_box5{
    list-style: none;
}

#m_sk{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 33px;
}

.hr_1{
    border: none;
    background-color: #143642; 
    color: #143642; 
    height: 2px; 
    margin: 2rem;
}

.end{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.g_link{
    text-decoration: none;
    color: #10168C;
}

.g_link:hover{
    text-decoration: underline;
    color: #02053d;
}


@media (max-width:1200px) {
    .my_name{
        max-width: 1130px;
    }
    .my_inf{
        max-width: 1130px;
    }
    .image_1{
        background: url(../images/chad.jpg);
        width: 250px;
        height: 250px;
        border-radius: 250px; 
        background-size: 250px 250px;
    }
    .image_1:hover{
        background: url(../images/chad1.jpg);
    }
    .box_2{
        font-size: 24px;
    }
    .box_3{
        font-size: 22px;
    }
    .box_4{
        font-size: 18px;
    }
    .box_5{
        font-size: 24px;
    }
    #m_sk{
        font-size: 29px;
    }
    .end{
        font-size: 12px;
    }
    .g_hub{
        background: url(../images/g_hub.png);
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
    }
    .l_in{
        background: url(../images/l_in.png);
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
    }
}

@media (max-width:992px) {
    .my_name{
        max-width: 922px;
    }
    .my_inf{
        max-width: 922px;
    }
    .image_1{
        background: url(../images/chad.jpg);
        width: 200px;
        height: 200px;
        border-radius: 200px; 
        border: 4px solid #a084ec;
        background-size: 200px 200px;
    }
    .box_2{
        font-size: 20px;
    }
    .box_3{
        font-size: 18px;
    }
    .box_4{
        font-size: 14px;
    }
    .box_5{
        font-size: 20px;
    }
    #m_sk{
        font-size: 25px;
    }
    .end{
        font-size: 10px;
    }
    .g_hub{
        background: url(../images/g_hub.png);
        width: 26px;
        height: 26px;
        background-size: 26px 26px;
    }
    .l_in{
        background: url(../images/l_in.png);
        width: 26px;
        height: 26px;
        background-size: 26px 26px;
    }
}

@media (max-width:760px) {
    .my_name{
        max-width: none;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .my_inf{
        max-width: none;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .image_1{
        background: url(../images/chad.jpg);
        width: 150px;
        height: 150px;
        border-radius: 150px; 
        background-size: 150px 150px;
    }
    .box_2{
        margin-left: 15px;
        font-size: 18px;
    }
    .box_3{
        margin-left: 15px;
        font-size: 16px;
    }
    .box_4{
        margin-left: 15px;
        font-size: 14px;
    }
    .box_5{
        margin-left: 15px;
        font-size: 18px;
    }
    #m_sk{
        font-size: 23px;
    }
    .end{
        font-size: 12px;
    }
    .g_hub{
        background: url(../images/g_hub.png);
        width: 22px;
        height: 22px;
        background-size: 22px 22px;
    }
    .l_in{
        background: url(../images/l_in.png);
        width: 22px;
        height: 22px;
        background-size: 22px 22px;
    }
}

@media (min-width:321px) and (max-width:759px){
    .my_name{
        max-width: none;
    }
    .my_inf{
        max-width: none;
    }
    .image_1{
        background: url(../images/chad.jpg);
        width: 110px;
        height: 110px;
        border-radius: 110px; 
        background-size: 110px 110px;
        border: 2px solid #143642;
    }
    .box_2{
        font-size: 12px;
    }
    .box_3{
        font-size: 10px;
    }
    .box_4{
        font-size: 10px;
    }
    .box_5{
        font-size: 12px;
    }
    #m_sk{
        font-size: 12px;
    }
    .end{
        font-size: 10px;
    }
    .g_hub{
        background: url(../images/g_hub.png);
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
    }
    .l_in{
        background: url(../images/l_in.png);
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
    }
}

@media only screen and (max-width:320px){
    .my_name{
        max-width: none;
    }
    .my_inf{
        max-width: none;
    }
    .image_1{
        background: url(../images/chad.jpg);
        width: 80px;
        height: 80px;
        border-radius: 80px; 
        background-size: 80px 80px;
        border: 2px solid #143642;
    }
    .box_2{
        font-size: 12px;
    }
    .box_3{
        font-size: 10px;
    }
    .box_4{
        font-size: 12px;
    }
    .box_5{
        font-size: 12px;
    }
    #m_sk{
        font-size: 15px;
    }
    .end{
        font-size: 10px;
    }
    .g_hub{
        background: url(../images/g_hub.png);
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
    }
    .l_in{
        background: url(../images/l_in.png);
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
    }
}

@media print {
    .g_link {
    text-decoration: underline;
    }
    }